* {
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(187, 20, 20);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(201, 200, 200);
}

main {
    flex: 1;
}

.cabecalho-link {
    color: white;
    text-decoration: none;
}

h1{
    color:azure;
}

footer {
    background-color: rgb(187, 20, 20);
}